$main-font:  MariadPro;;
$font-color: #777777;
$font-color-2: #fff;
$font-color-3: #000;
$color-decor-1: #f1b411;
$color-decor-2: #4db552;

$font-size: 15px;
$font-height: 1.5;
$font-weight: 400;
$color-bg: #fff;


/** Grid variables **/
$container-width: 1200px;
$col-padding: 15px;